<form class="form-horizontal" role="form" id="ask_form">
    {% csrf_token %}
    <div class="form-group {% if questionform.title.errors %}has-error{% endif %}">
        {% if questionform.title.errors %}
        <div class="alert alert-danger">{{ questionform.title.errors }}</div>
        {% endif %}
        <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">{{ questionform.title }}</div>
    </div>
    <div class="form-group {% if questionform.content.errors %}has-error{% endif %}">
                {% if questionform.content.errors %}
        <div class="alert alert-danger">{{ questionform.content.errors }}</div>
        {% endif %}
        <label for="inputText" class="col-sm-2 control-label">Question</label>

        <div class="col-sm-10">{{ questionform.content }}</div>
    </div>
    <div class="form-group">
        <label for="inputText" class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
            <ul id="question_tags" class="tagit">
                <!-- Existing list items will be pre-added to the tags -->
                {% for tag in form_tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>
