{% extends "base.html" %}

{% block content %}
<div class="panel panel-info panel-default" >
  <div class="panel-heading">
    <div class="row">        
    <div class="col-xs-1">
        {% include "rating.html" with model=question %}
    </div>
    <div class="col-xs-11">
        <h3>{{ question.title }}</h3>
    </div>
    </div>

              <div class="row">
          {%  if question.tags %}
              <div class="col-xs-8">
              tags:
              {% for tag in question.tags %}
                  <a href="{{ tag.url }}">{{tag.title}}</a>
              {% endfor %}
              </div>
          {% endif %}
      <div class="col-xs-4 pull-right">
          by <a href="{{ question.author.url }}">{{ question.author.username }}</a> at {{ question.creation_time }} <br>
          views: <span class="badge">{{ question.get_visits }}</span>
      </div>

      </div>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-md-12">{{ question.content }}</div>
      </div>
  </div>
</div>
{% if question.comments %}
<h3>Comments:</h3>
{% for comment in comments %}
<div class="panel panel-default comment" >
  <div class="panel-heading">
    <div class="row">
    <div class="col-xs-1">
        {% include "rating.html" with model=question %}
    </div>
    <div class="col-xs-11">
        <h3>{{ comment.content }}</h3>
        <div class="pull-right">by <a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a>/div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-comment"></span> Add comment</a>
{#<form style="comment-form">#}
{#    # comment form#}
{#</form>#}
{% endif %}

{% if question.answer %}
<h3>Accepted answer:</h3>
<div class="panel panel-default panel-success">
  <div class="panel-body">
      <div class="row">
              <div class="col-xs-1">

        {% include "rating.html" with model=question.answer %}
        </div>
      <div class="col-xs-10"> <h4>{{ question.answer.content }}</h4>
         </div>
      </div>
      <div class="row">
          <div class="pull-right author">by <a href="{{ answer.author.get_absolute_url }}">{{ question.answer.author }}</a></div>
      </div>
  </div>
</div>
{% endif %}

{% if answers %}
{% if question.answer %}
<h3>Other answers:</h3>
{% else %}
<h3>Answers:</h3>
{% endif %}
{% for answer in answers %}
{% if answer != question.answer %}
<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
              <div class="col-xs-1">

        {% include "rating.html" with model=answer %}
        </div>
      <div class="col-xs-10">          {% if user == question.author.user %}
         <a href="#" data-link="{{ answer.get_accept_url }}" title="Accept" 
            class="btn btn-info votelink">
                <span class="glyphicon glyphicon-ok"></span>
        </a>{% endif %}   <h4>{{ answer.content }}</h4>
         </div>
      </div>
      <div class="row">
          <div class="pull-right author">by <a href="{{ answer.author.get_absolute_url }}">{{ answer.author }}</a></div>
      </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% else %}
{% if question.answer %}
<h3>No more answers </h3>
{% else %}
<h3>Nobody cares, no answers for now</h3>
{% endif %}
{% endif %}

{% if answers.paginator.num_pages != 1 %}
<ul class="pager">
    {% if answers.has_previous %}
        <li class="previous">
        <a href="?page={{ answers.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
        <li class="previous disabled">
        <a href="#">&larr; Previous</a>
        </li>
    {% endif %}

    <li class="disabled">
        <a href="#">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}
        </a>
    </li>
    {% if answers.has_next %}
        <li class="next">
        <a href="?page={{ answers.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
        <li class="next disabled">
        <a href="#">Next &rarr;</a>
        </li>
    {% endif %}
</ul>
{% endif %}



{% if user.is_authenticated %}
<div class="panel panel-default panel-success">
<div class="panel-heading">Answer the question</div>
<div class="panel-body">
<form class="form-horizontal" role="form" id="answer_form" method="POST">
    {% csrf_token %}
    <div class="form-group {% if form.content.errors %}has-error{% endif %}">
        {% if form.content.errors %}
        <div class="alert alert-danger">{{ form.content.errors }}</div>
        {% endif %}
        <div class="col-sm-10 col-sm-offset-1">{{ form.content }}</div>
    </div>
    <button type="submit" class="btn btn-default col-sm-2 col-sm-offset-5">Answer</button>
</form>
</div>
</div>
{% else %}
<a href="/login?redirect={{ question.get_absolute_url }}"><span class="glyphicon glyphicon-log-in"></span> Login</a> to answer!
{% endif %}

{% endblock %}
