<div class="btn-group-vertical">
    {% if user.is_authenticated %}
    <a href="#" data-link="{{ model.get_vote_up_url }}" title="Vote up" 
    class="btn btn-danger votelink">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a> 
    {% endif %}
    <a href="#" data-link="{{ model.get_vote_cancel_url }}" title="Cancel vote" 
    class="btn btn-default 
    {% if user.is_authenticated %} votelink{% else %} disabled{%endif %}">
    <span class="badge rating-value">{{ model.rating }}</span></a>
    {% if user.is_authenticated %}
    <a href="#" data-link="{{ model.get_vote_down_url }}" title="Vote down" 
    class="btn-success btn votelink">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    {% endif %}
</div>
