{% extends "base.html" %}

{% block content %}
<div class="panel panel-info panel-default" >
<div class="panel-heading"><h3> User {{ question_user.user__username }}</h3> 
  </div>
</div>
{% if questions %}
<h3>Questions from {{ question_user.user__username }}:</h3>
{% for question in questions %}
<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
      <div class="col-xs-6"><a href="{{ question.get_absolute_url }}"><h5>{{ question.title }}</h5></a></div>
      </div>
  </div>
</div>
{% endfor %}
    {% if questions.paginator.num_pages != 1 %}
    <ul class="pager">
        {% if questions.has_previous %}
            <li class="previous">
            <a href="?questions_page={{ questions.previous_page_number }}&answers_page={{ answers.number }}">&larr; Previous</a>
            </li>
        {% else %}
            <li class="previous disabled">
            <a href="#">&larr; Previous</a>
            </li>
        {% endif %}

        <li class="disabled">
            <a href="#">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}
            </a>
        </li>
        {% if questions.has_next %}
            <li class="next">
            <a href="?questions_page={{ questions.next_page_number }}&answers_page={{ answers.number }}">Next &rarr;</a>
            </li>
        {% else %}
            <li class="next disabled">
            <a href="#">Next &rarr;</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% else %}
<h3>This user is too clever to ask questions</h3>
{% endif %}

{% if answers %}
<h3>Answers:</h3>
{% for answer in answers %}
<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
      <div class="col-xs-6"><a href="{{ answer.get_absolute_url }}"><h5>{{ answer.content }}</h5></a></div>
      </div>
  </div>
</div>
{% endfor %}
    {% if answers.paginator.num_pages != 1 %}
    <ul class="pager">
        {% if answers.has_previous %}
            <li class="previous">
            <a href="?questions_page={{ questions.number }}&answers_page={{ answers.previous_page_number }}">&larr; Previous</a>
            </li>
        {% else %}
            <li class="previous disabled">
            <a href="#">&larr; Previous</a>
            </li>
        {% endif %}

        <li class="disabled">
            <a href="#">
                Page {{ answers.number }} of {{ answers.paginator.num_pages }}
            </a>
        </li>
        {% if answers.has_next %}
            <li class="next">
            <a href="?questions_page={{ questions.number }}&answers_page={{ answers.next_page_number }}">Next &rarr;</a>
            </li>
        {% else %}
            <li class="next disabled">
            <a href="#">Next &rarr;</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% else %}
<h3>This user never answer questions</h3>
{% endif %}


{% endblock %}
