body {
}

.navbar-static-top {
  margin-bottom: 19px;
}

.ask-button {
    background-color: #f2dede;
}

.ask-button:hover {
    background-color: #f29696;
}

.chevron {
    margin-left: 5px;
}

.vote-down {
    margin-top: 3px;
}

.accept {
    margin-bottom: 3px;
}

h4, h5 {
    display: inline-block;
}

.author {
    margin-right: 5px;
}
